package ${package}.${moduleName}.service;

import com.baomidou.mybatisplus.extension.service.IService;
##import ${package}.entity.${className}Entity;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.herocheer.module.data.mybatis.service.BaseService;
import java.util.Map;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service extends   BaseService<${className}Entity, String> {

    public Page<${className}Entity> selectPageByComplexCondition(QueryWrapper wrapper, Page< ${className}Entity> page);
}

